.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
 
.nav-btn {
    font-size: 1.25rem;
    color: var(--c-l-grey-10);
}

.nav-arrow-btn {
    display: block;
    background: transparent;
    border: none;
    outline: none;
}

.logo-box {
    display: none;
    width: 7.5rem;
    height: 2rem;
}

.sub-title {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.37rem;
    color: var(--c-text-grey-secondary);
} 

.lock-icon {
    font-size: 15px;
    color: var(--c-fill-grey-solid);
}

.nav-help-section {
    display: flex;
    align-items: center;
    gap: 8px;
}

.help-text {
    display: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.37rem;
}

.header-timer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--c-surface-default-inverse);
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.125rem;
    color: var(--c-l-grey-05);
}

@media only screen and (min-width: 37em) {
    .nav {
        padding: 13px 120px;
    }

    .logo-box {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-arrow-btn {
        display: none;
    }

    .help-text {
        display: inline
    }

    .header-timer {
        padding: 10px 20px;
        font-size: 1rem;
        line-height: 1.25rem;
    }
    
}


